---
import Layout from "../layouts/Layout.astro";
import Grid from "../layouts/Grid.astro";

import photo from "../assets/creator/photo.png";
import { Image } from "astro:assets";
---

<Layout
	title="Portafolio de Sebastian - Ingeniero de Sistemas y Desarrollador Web"
>
	<Grid>
		<Fragment>
			<div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minus
					perspiciatis, mollitia sint consectetur quas reprehenderit beatae nemo
					molestiae error temporibus, recusandae cum assumenda adipisci
					blanditiis dolore natus odio! Aliquam.
				</p>
			</div>
			<div>

			</div>
		</Fragment>
	</Grid>
</Layout>

<style></style>
