---
export type Props = {
	header_size?: string;
};
const { header_size = "calc(100vh - 4rem)" } = Astro.props;

import Header from '../fragments/Header.astro';

--- 

<div class="c-gen-grid min-h-full">
	<Header {header_size}>
		<slot slot="header" name="header">header</slot>
	</Header>
	<main class="c-gen-main-flow">
		<slot name="default" />
	</main>
	<footer class="c-gen-footer" >
		<!-- <slot name="footer"> footer</slot> -->
		<div class="c-gen-main-flow ">
			
			<p style="font-size: small;">
				Página construida por Mí :D<br>
				<small>&copy; Derechos Reservados.</small>
			</p>
		</div>
	</footer>
</div>
<style is:global>
	.c-gen-grid {
		display: grid;
		grid-template-rows: auto auto 1fr auto;
	}

	.c-gen-main-flow {
		& {
			width: 100%;
			margin-inline: auto;

			display: grid;

			--max-width: 100%;
			--side-width : 6rem;

			grid-template-columns: 
				[total-start]
					minmax(0px, 1fr)
				[large-start]
					minmax(0px, var(--side-width))
				[short-start]
					var(--max-width)
				[short-end]
					minmax(0px, var(--side-width))
				[large-end]
					minmax(0px, 1fr)
				[total-start];
		}

		& > * {
			& 									{ grid-column: short; }
			&[data-col="large"] { grid-column: large; }
			&[data-col="total"] { grid-column: total; }
		}
		
		@media (width > 0768px){ --max-width: 0768px; }
		@media (width > 0992px){ --max-width: 0992px; }
		@media (width > 1200px){ --max-width: 1200px; }
	}

	.c-gen-footer {
		& {
			margin-top : auto;
			padding : 1rem;
			background-color: var(--panel-color);
		}
	}
</style>
